<% if(results[0].estado == "Activo"){ %> 
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="row">
      <div class="col-12">
        <div class="card card-block card-stretch card-height">
          <div class="card-body">
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <span class="text-dark">Inversion total</span>
              <!-- <a
              class="badge rounded-pill bg-soft-primary"
              href="javascript:void(0);"
            >
              Request Payout
            </a> -->
            </div>
            <h2 class="counter">$<%= inversion_total %></h2>
            <small>Esta es la inversion total.</small>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card card-block card-stretch card-height">
          <div class="card-body">
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <span class="text-dark">Planes activos</span>
              <!-- <a
              class="badge rounded-pill bg-soft-primary"
              href="javascript:void(0);"
            >
              View
            </a> -->
            </div>
            <h2 class="counter"><%= planes_activos %></h2>
            <small>Planes que tiene activo con nosotros</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="row">
      <div class="col-12">
        <div class="card card-block card-stretch card-height">
          <div class="card-body">
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <span class="text-dark">Bono por referidos</span>
              <!-- <a
              class="badge rounded-pill bg-soft-primary"
              href="javascript:void(0);"
            >
              Request Payout
            </a> -->
            </div>
            <h2 class="counter">$<%= ganancias_referencias %> </h2>
            <small>Bono por referir a mas personas con nosotros.</small>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card card-block card-stretch card-height">
          <div class="card-body">
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <span class="text-dark">Balance para retiro</span>
              <a
                class="badge rounded-pill bg-soft-primary"
                href="javascript:void(0);"
              >
                <a href="/retiro-capital-user">Solicitar retiro</a>
              </a>
            </div>
            <h2 class="counter">$<%=balance_para_retiro%></h2>
            <small>Balance disponible para retirar</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-5 mb-md-0">
            <div class="mb-5">
              <div
                class="mb-2 d-flex justify-content-between align-items-center"
              >
                <span class="text-dark">Ultimas trasnaciones de este mes</span>
                <!-- <a
                class="badge rounded-pill bg-soft-primary"
                href="javascript:void(0);"
              >
                View Report
              </a> -->
              </div>
              <div class="mb-2">
                <h2 class="counter">$<%=ultima_transacciones%></h2>
                <small>Este mes</small>
              </div>
            </div>
          
          </div>
          <!-- <div class="col-md-6">
          <div class="iq-scroller-effect">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
            >
              <span class="text-dark">Send Money To</span>
              <a
                href="table/border-table.html"
                class="badge rounded-pill bg-soft-primary"
              >
                All Contacts
              </a>
            </div>
            <div
              class="d-flex align-items-center iq-slider mb-4 gap-2"
            >
              <div>
                <img
                  class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                  src="admin/images/table/1.png"
                  alt="profile"
                  loading="lazy"
                />
              </div>
              <div>
                <img
                  class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                  src="admin/images/table/2.png"
                  alt="profile"
                  loading="lazy"
                />
              </div>
              <div>
                <img
                  class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                  src="admin/images/table/3.png"
                  alt="profile"
                  loading="lazy"
                />
              </div>
              <div>
                <img
                  class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                  src="admin/images/table/4.png"
                  alt="profile"
                  loading="lazy"
                />
              </div>
              <div>
                <img
                  class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                  src="admin/images/table/5.png"
                  alt="profile"
                  loading="lazy"
                />
              </div>
            </div>
            <div>
              <div class="form-group">
                <select
                  class="select2-basic-single js-states form-control form-group"
                  name="Account"
                  style="width: 100%"
                >
                  <option selected="">Select Your Account</option>
                  <option value="1">5521000120354</option>
                  <option value="2">5521000125145</option>
                  <option value="3">5521000129665</option>
                </select>
              </div>
              <div class="form-group">
                <select
                  class="select2-basic-single-tag js-states form-control"
                  name="Amount"
                  style="width: 100%"
                >
                  <option selected="">Enter Amount in USD</option>
                  <option value="1">100</option>
                  <option value="2">200</option>
                  <option value="5">500</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary w-100 mt-2">
              Send Money
            </button>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card card-block card-stretch card-height">
      <div class="card-header">
        <div class="d-flex justify-content-between flex-wrap">
          <h4 class="card-title">Proximo Pago</h4>
        </div>
      </div>
      <div class="card-body">
        <!-- <div id="dashboard-line-chart"></div> -->
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column text-center align-items-center justify-content-between me-5">
                <div class="fs-italic">
                    <h5>Dias</h5>
                   
                </div>	
               
                <div class="card-profile-progress">
                    <div id="circle-progress-1" class="circle-progress  circle-progress-basic circle-progress-primary" data-min-value="0" data-max-value="100" data-value="0" data-type="percent" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"><svg version="1.1" width="100" height="100" viewBox="0 0 100 100" class="circle-progress"><text class="circle-progress-text" x="50" y="50" font="16px Arial, sans-serif" text-anchor="middle" fill="#999" dy="0.4em"><%= tiempo_restante.dias %></text></svg></div>
                  
                </div>
               
               
            </div>
            <div class="d-flex flex-column text-center align-items-center justify-content-between me-5">
                <div class="fs-italic">
                    <h5>Horas</h5>
                   
                </div>	
               
                <div class="card-profile-progress">
                    <div id="circle-progress-1" class="circle-progress  circle-progress-basic circle-progress-primary" data-min-value="0" data-max-value="100" data-value="0" data-type="percent" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"><svg version="1.1" width="100" height="100" viewBox="0 0 100 100" class="circle-progress"><text class="circle-progress-text" x="50" y="50" font="16px Arial, sans-serif" text-anchor="middle" fill="#999" dy="0.4em"><%= tiempo_restante.horas %></text></svg></div>
                  
                </div>
               
               
            </div>
            <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                <div class="fs-italic">
                    <h5>Minutos</h5>
                   
                </div>	
               
                <div class="card-profile-progress">
                    <div id="circle-progress-1" class="circle-progress  circle-progress-basic circle-progress-primary" data-min-value="0" data-max-value="100" data-value="0" data-type="percent" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"><svg version="1.1" width="100" height="100" viewBox="0 0 100 100" class="circle-progress"><text class="circle-progress-text" x="50" y="50" font="16px Arial, sans-serif" text-anchor="middle" fill="#999" dy="0.4em"><%= tiempo_restante.minutos %></text></svg></div>
                  
                </div>
               
               
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card card-block card-stretch card-height">
      <nav class="tab-bottom-bordered">
        <div
          class="mb-0 nav nav-tabs justify-content-around"
          id="nav-tab1"
          role="tablist"
        >
          <button
            class="nav-link py-3 active"
            id="nav-home-11-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home-11"
            type="button"
            role="tab"
            aria-controls="nav-home-11"
            aria-selected="true"
          >
            Todos las solicitudes
          </button>
          <button
            class="nav-link py-3"
            id="nav-profile-11-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile-11"
            type="button"
            role="tab"
            aria-controls="nav-profile-11"
            aria-selected="false"
          >
            Depositos
          </button>
          <button
            class="nav-link py-3"
            id="nav-contact-11-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-contact-11"
            type="button"
            role="tab"
            aria-controls="nav-contact-11"
            aria-selected="false"
          >
            Retiros
          </button>
        </div>
      </nav>
      <div class="tab-content iq-tab-fade-up" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home-11"
          role="tabpanel"
          aria-labelledby="nav-home-11-tab"
        >
          <div class="table-responsive">
            <table
              id="transaction-table"
              class="table mb-0 table-striped"
              role="grid"
            >
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$1,833</h6>
                    </div>
                  </td>
                  <td class="text-primary">RSD1008296</td>
                  <td class="text-dark">Hace 1 hora</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-success">Procesado</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$1,500</h6>
                    </div>
                  </td>
                  <td class="text-primary">1000123658</td>
                  <td class="text-dark">Hace 2 hora</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-success">Procesado</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$500</h6>
                    </div>
                  </td>
                  <td class="text-primary">147896325</td>
                  <td class="text-dark">Hace 5 hora</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-success">Procesado</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile-11"
          role="tabpanel"
          aria-labelledby="nav-profile-11-tab"
        >
          <div class="table-responsive">
            <table
              id="transaction-table-1"
              class="table mb-0 table-striped"
              role="grid"
            >
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$2,298</h6>
                    </div>
                  </td>
                  <td class="text-primary">HOR1000010</td>
                  <td class="text-dark">Hace 7 dias</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-success">Procesado</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$2,032</h6>
                    </div>
                  </td>
                  <td class="text-primary">15369785</td>
                  <td class="text-dark">Hace 23 dias</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-danger">Fallido</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$1,514</h6>
                    </div>
                  </td>
                  <td class="text-primary">13697854</td>
                  <td class="text-dark">Hace 22 dias</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-info">En proceso</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-contact-11"
          role="tabpanel"
          aria-labelledby="nav-contact-11-tab"
        >
          <div class="table-responsive">
            <table
              id="transaction-table-2"
              class="table mb-0 table-striped"
              role="grid"
            >
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$2,866</h6>
                    </div>
                  </td>
                  <td class="text-primary">156897647</td>
                  <td class="text-dark">Hace 3 dias</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-info">En proceso</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$1,637</h6>
                    </div>
                  </td>
                  <td class="text-primary">145698723659</td>
                  <td class="text-dark">Hace 15 dias</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-success">Procesado</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6 class="mb-0">$2,922</h6>
                    </div>
                  </td>
                  <td class="text-primary">123456789</td>
                  <td class="text-dark">Hace 20 dias</td>
                  <td class="text-end">
                    <span class="badge rounded-pill bg-danger">Fallido</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <a href="javascript:void(0);">
          <span class="me-2"> Ver todas las transaciones </span>
          <svg
            class="icon-20"
            width="20"
            viewbox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.5 5L15.5 12L8.5 19"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<% }else if(results[0].estado == "pendiente"){ %>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <div class="card">
         <div class="card-header d-flex justify-content-between">
            <div class="header-title">
               <h4 class="card-title"> Activar cuenta</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Para tener acceso debes activar tu cuenta</p>
            <form action="/verification-account" enctype="multipart/form-data" method="post">
              <input type="number" hidden name="id" value="<%= results[0].id%>">
              <input type="number" hidden name="code_id" value="<%= results[0].codigo_id%>">
               <div class="row">
                  <div class="col-md-6 mb-3">
                     <label class="form-label" for="validationDefault01">Nombre</label>
                     <input type="text" value="<%= results[0].nombre %> " class="form-control" id="validationDefault01" disabled>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label class="form-label" for="validationDefault02">Apellido</label>
                     <input type="text" class="form-control" value="<%= results[0].apellido %> " id="validationDefault02" disabled>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="validationCustomUsername" class="form-label">Email</label>
                     <div class="form-group input-group">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" name="email" class="form-control" value="<%= results[0].email %> " disabled >
                     </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label class="form-label" for="validationDefault01">Numero telefonico</label>
                     <input type="text" class="form-control" id="validationDefault01" value="<%= results[0].telefono %>" disabled>
                    </div>
                   </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label class="form-label" for="exampleInputdate">Fecha Nacimiento</label>
                      <input type="date" name="fecha_nacimiento" max="2005-01-01" class="form-control" id="exampleInputdate">
                  </div>
                   </div>
                  <div class="col-md-6 mb-3">
                     <label class="form-label" for="validationDefault04">Pais</label>
                     <select class="form-select" name="pais" id="validationDefault04" required>
                        <option selected disabled >Selecciona...</option>
                        <% paises.forEach(pais => { %>
                          <option value="<%= pais.id_pais %> "><%= pais.nombre_pais %> </option>
                       <% }); %> 
                     </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label
                        for="customFile1"
                        class="form-label custom-file-input"
                        >Documento de identidad</label
                      >
                      <input
                        class="form-control"
                        type="file"
                        id="customFile1"
                        name="dni"
                        multiple
                      />
                    </div>
                   </div>
            
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label class="form-label" for="validationDefault01">Edad</label>
                     <input type="Number" name="edad" min="18" max="100" class="form-control" id="validationDefault01" placeholder="edad">
                    </div>
                   </div>
               
                  
               </div>
             
               <!-- <div class="form-group">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required="">
                     <label class="form-check-label" for="invalidCheck2">
                     Esta de acuerdo con nuestros terminos y condiciones
                     </label>
                  </div>
               </div> -->
              
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Activar cuenta</button>
               </div>
            </form>
         </div>
      </div>
   </div>
  </div>

<%}else if(results[0].estado == "Procesando"){ %>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card">
        <h1 class="title text-center pt-5">Estamos procesando su informacion</h1>
        <p class="text text-center">Por favor espere a que verifiquemos sus datos</p>
          <div class="d-flex justify-content-center pb-5">
            <img src="assets/img/undraw_searching_re_3ra9.svg" alt="Imagen busqueda" class="mw-100 mh-100">

          </div>
      </div>
    </div>
  </div>
 
<%} %> 