<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="assets/font-awesome/css/fontawesome-all.min.css"
    />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'ca,eu,gl,en,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
              }
      </script>
      
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
       -->
    <title>Home || IPV capital</title>
  </head>
  <body data-spy="scroll" data-target=".navbar">
    <div id="google_translate_element" class="google"></div>
    <%- include("./partials/header.ejs") %>
    <main id="ts-content">
      <%- include('./partials/about_us.ejs'); %> 
        <%- include('./partials/how_work.ejs'); %>  
        <%- include('./partials/planes.ejs'); %> 
        <%- include('./partials/publishi.ejs'); %> 
        <%- include('./partials/depo_reti.ejs'); %> 
        <%- include('./partials/start_now.ejs'); %> 
        <%- include('./partials/we_work.ejs'); %> 
        <%- include('./partials/steps.ejs'); %> 
        <%- include('./partials/nosotros.ejs'); %> 
        <%- include('./partials/Footer.ejs'); %> 
        
    </main>
    <script src="assets/js/custom.hero.js"></script>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>
    <script src="assets/js/isInViewport.jquery.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/scrolla.jquery.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/jquery-validate.bootstrap-tooltip.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if(typeof alert != "undefined"){ %>
      <script>
         Swal.fire({
          icon: '<%= alertIcon %>',
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>'
          }).then(function() {
        window.location = "<%= ruta %>";
      });
      </script>
  <%} %>
  </body>
</html>
