<% let date = new Date(); %>

<div class="row">
   <div class="card">
       <div class="card-header d-flex justify-content-between">
         <div class="header-title">
           <h4 class="card-title">Retiros de capital pendientes</h4>
         </div>
       </div>
       <div class="card-body p-0">
         <div class="table-responsive mt-4">
           <table id="basic-table" class="table table-striped mb-0" role="grid">
             <thead>
               <tr>
                 <th>Nombre</th>
                 <th>Email</th>
                 <th>Cantidad</th>
                 <th>Tipo de cuenta</th>
                 <th>Billetera</th>
                 <th>Acciones</th>
               </tr>
             </thead>
             <tbody>

               <% pendientes.forEach(function(pendiente){ %>
               <tr>
                 <td>
                   <div class="d-flex align-items-center">
                     <h6><%= pendiente.nombre_completo %></h6>
                   </div>
                 </td>

                 <td><%= pendiente.email %></td>
                 <td><div class="text-success">$<%= pendiente.capital %></div></td>

                 <td>
                     <span class="badge rounded-pill bg-info">Billetera virtual</span>
                   </td>

                 <td><%= pendiente.haash_wallet %></td>

                 <td class="text-center">

                   <a class="btn btn-primary" href="/aceptar-capital/<%= pendiente.id_solicitud_retiro_capital %>">Aceptar</a>
                   <a class="btn btn-danger" href="/rechazar-capital/<%= pendiente.id_solicitud_retiro_capital %>">Rechazar</a>


                 </td>

               </tr>
               <% }); %>



             </tbody>
           </table>
         </div>
       </div>
     </div>
</div>


<div class="row">
   <div class="col-sm-12">
       <div class="card">
          <div class="card-header d-flex justify-content-between">
             <div class="header-title">
                <h4 class="card-title">Historial de retiro de capital</h4>
             </div>
          </div>
          <div class="card-body">

             <div class="table-responsive">
                <table  class="table table-striped" >
                   <thead>
                      <tr>
                         <th>Fecha</th>
                         <th>Plan</th>
                         <th>Monto</th>
                         <th>Moneda</th>
                         <th>Estado</th>
                         <th>hash/Numero de cuenta</th>
                      </tr>
                   </thead>
                   <tbody>


                     <% historial_retiros.forEach(function(historial){ %>

                       <tr class="text-center">
                           <td><%= moment(historial.fecha).add(10, 'days').calendar() %></td>
                           <td><%= historial.nombre %></td>
                           <td>$<%= historial.capital %></td>
                           <td>USDT,PESOS,USD</td>
                           <td><%= historial.estado %></td>
                           <td><%= historial.haash_wallet %></td>
                        </tr>


                     <% }); %>



                   </tbody>
                   <tfoot>
                      <tr>
                         <th>Fecha</th>
                         <th>Plan</th>
                         <th>Monto</th>
                         <th>Moneda</th>
                         <th>Estado</th>
                         <th>hash/Numero de cuenta</th>

                      </tr>
                   </tfoot>
                </table>
             </div>
          </div>
       </div>
    </div>
</div>
