<div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="card card-block card-stretch card-height">
            <div class="card-body">
              <div class="mb-2 d-flex justify-content-between align-items-center">
                <span class="text-dark">Ganancias totales</span>
                <!-- <a
                class="badge rounded-pill bg-soft-primary"
                href="javascript:void(0);"
              >
                Request Payout
              </a> -->
              </div>
              <h2 class="counter">$<%= ganancias_totales %></h2>
              <small>Esta es la ganancia total.</small>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-block card-stretch card-height">
            <div class="card-body">
              <div class="mb-2 d-flex justify-content-between align-items-center">
                <span class="text-dark">Planes activos</span>
                <!-- <a
                class="badge rounded-pill bg-soft-primary"
                href="javascript:void(0);"
              >
                View
              </a> -->
              </div>

                <h2 class="counter"></h2>

                <h2 class="counter"><%= planes_totales %></h2>

              <small>Planes activos con nosotros.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="card card-block card-stretch card-height">
            <div class="card-body">
              <div class="mb-2 d-flex justify-content-between align-items-center">
                <span class="text-dark">Retiros totales</span>
                <!-- <a
                class="badge rounded-pill bg-soft-primary"
                href="javascript:void(0);"
              >
                Request Payout
              </a> -->
              </div>
              <h2 class="counter">$<%= retiros_totales %></h2>
              <small>Retiros totales.</small>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-block card-stretch card-height">
            <div class="card-body">
              <div class="mb-2 d-flex justify-content-between align-items-center">
                <span class="text-dark">Pagos totales</span>
               <!--  <a
                  class="badge rounded-pill bg-soft-primary"
                  href="javascript:void(0);"
                >
                  Solicitar retiro
                </a> -->
              </div>
              <h2 class="counter">$<%= pagos_totales %></h2>
              <small>Pagos realizados</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-5 mb-md-0">
              <div class="mb-5">
                <div
                  class="mb-2 d-flex justify-content-between align-items-center"
                >
                  <span class="text-dark">Capital total de todos los inversionista</span>
                  <!-- <a
                  class="badge rounded-pill bg-soft-primary"
                  href="javascript:void(0);"
                >
                  View Report
                </a> -->
                </div>
                <div class="mb-2">
                  <h2 class="counter">$<%= inversion_total %></h2>
                  <!-- <small>Este mes</small> -->
                </div>
              </div>

            </div>
            <!-- <div class="col-md-6">
            <div class="iq-scroller-effect">
              <div
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <span class="text-dark">Send Money To</span>
                <a
                  href="table/border-table.html"
                  class="badge rounded-pill bg-soft-primary"
                >
                  All Contacts
                </a>
              </div>
              <div
                class="d-flex align-items-center iq-slider mb-4 gap-2"
              >
                <div>
                  <img
                    class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                    src="admin/images/table/1.png"
                    alt="profile"
                    loading="lazy"
                  />
                </div>
                <div>
                  <img
                    class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                    src="admin/images/table/2.png"
                    alt="profile"
                    loading="lazy"
                  />
                </div>
                <div>
                  <img
                    class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                    src="admin/images/table/3.png"
                    alt="profile"
                    loading="lazy"
                  />
                </div>
                <div>
                  <img
                    class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                    src="admin/images/table/4.png"
                    alt="profile"
                    loading="lazy"
                  />
                </div>
                <div>
                  <img
                    class="rounded-circle bg-soft-primary img-fluid avatar-40 mb-2"
                    src="admin/images/table/5.png"
                    alt="profile"
                    loading="lazy"
                  />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <select
                    class="select2-basic-single js-states form-control form-group"
                    name="Account"
                    style="width: 100%"
                  >
                    <option selected="">Select Your Account</option>
                    <option value="1">5521000120354</option>
                    <option value="2">5521000125145</option>
                    <option value="3">5521000129665</option>
                  </select>
                </div>
                <div class="form-group">
                  <select
                    class="select2-basic-single-tag js-states form-control"
                    name="Amount"
                    style="width: 100%"
                  >
                    <option selected="">Enter Amount in USD</option>
                    <option value="1">100</option>
                    <option value="2">200</option>
                    <option value="5">500</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary w-100 mt-2">
                Send Money
              </button>
            </div>
          </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
              <h4 class="card-title">Los 10 Ultimos Inicios De Session Mas Recientes</h4>
           </div>
        </div>
        <div class="card-body p-0">
           <div class="table-responsive mt-4">
              <table id="basic-table" class="table table-striped mb-0" role="grid">
                 <thead>
                    <tr>
                       <th>Nombre</th>
                       <th>Email</th>
                       <th>Estado</th>
                    </tr>
                 </thead>
                 <tbody>
                  <% Users.forEach(User => { %>
                      <tr>
                       <td>
                          <div class="d-flex align-items-center">
                             <h6><%= User.nombre %></h6>
                          </div>
                       </td>
                       <td><%= User.email %></td>
                       <% if(User.estatus_id == 0){ %>
                       <td><div class="text-info">Pendiente</div></td>
                       <% }else if(User.estatus_id == 2){ %>
                           <td><div class="text-success">Activo</div></td>
                       <% }else if(User.estatus_id == 5){ %>
                        <td><div class="text-danger">No activado</div></td>
                        <% }else if(User.estatus_id == 6){%>
                          <td><div class="text-warning">Inactivo</div></td>
                        <%} %>
                    </tr>
                  <%}); %>
                 </tbody>
              </table>
           </div>
        </div>
     </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-block card-stretch card-height">
        <nav class="tab-bottom-bordered">
          <div
            class="mb-0 nav nav-tabs justify-content-around"
            id="nav-tab1"
            role="tablist"
          >
            <button
              class="nav-link py-3 active"
              id="nav-home-11-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-home-11"
              type="button"
              role="tab"
              aria-controls="nav-home-11"
              aria-selected="true"
            >
              Todos las solicitudes
            </button>
            <button
              class="nav-link py-3"
              id="nav-profile-11-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-profile-11"
              type="button"
              role="tab"
              aria-controls="nav-profile-11"
              aria-selected="false"
            >
              Depositos
            </button>
            <button
              class="nav-link py-3"
              id="nav-contact-11-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-contact-11"
              type="button"
              role="tab"
              aria-controls="nav-contact-11"
              aria-selected="false"
            >
              Retiros
            </button>
          </div>
        </nav>
        <div class="tab-content iq-tab-fade-up" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-home-11"
            role="tabpanel"
            aria-labelledby="nav-home-11-tab"
          >
            <div class="table-responsive">
              <table
                id="transaction-table"
                class="table mb-0 table-striped"
                role="grid"
              >
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$1,833</h6>
                      </div>
                    </td>
                    <td class="text-primary">RSD1008296</td>
                    <td class="text-dark">Hace 1 hora</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-success">Procesado</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$1,500</h6>
                      </div>
                    </td>
                    <td class="text-primary">1000123658</td>
                    <td class="text-dark">Hace 2 hora</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-success">Procesado</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$500</h6>
                      </div>
                    </td>
                    <td class="text-primary">147896325</td>
                    <td class="text-dark">Hace 5 hora</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-success">Procesado</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile-11"
            role="tabpanel"
            aria-labelledby="nav-profile-11-tab"
          >
            <div class="table-responsive">
              <table
                id="transaction-table-1"
                class="table mb-0 table-striped"
                role="grid"
              >
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$2,298</h6>
                      </div>
                    </td>
                    <td class="text-primary">HOR1000010</td>
                    <td class="text-dark">Hace 7 dias</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-success">Procesado</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$2,032</h6>
                      </div>
                    </td>
                    <td class="text-primary">15369785</td>
                    <td class="text-dark">Hace 23 dias</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-danger">Fallido</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$1,514</h6>
                      </div>
                    </td>
                    <td class="text-primary">13697854</td>
                    <td class="text-dark">Hace 22 dias</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-info">En proceso</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-contact-11"
            role="tabpanel"
            aria-labelledby="nav-contact-11-tab"
          >
            <div class="table-responsive">
              <table
                id="transaction-table-2"
                class="table mb-0 table-striped"
                role="grid"
              >
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$2,866</h6>
                      </div>
                    </td>
                    <td class="text-primary">156897647</td>
                    <td class="text-dark">Hace 3 dias</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-info">En proceso</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$1,637</h6>
                      </div>
                    </td>
                    <td class="text-primary">145698723659</td>
                    <td class="text-dark">Hace 15 dias</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-success">Procesado</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">$2,922</h6>
                      </div>
                    </td>
                    <td class="text-primary">123456789</td>
                    <td class="text-dark">Hace 20 dias</td>
                    <td class="text-end">
                      <span class="badge rounded-pill bg-danger">Fallido</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="card-footer text-end">
          <a href="javascript:void(0);">
            <span class="me-2"> Ver todas las transaciones </span>
            <svg
              class="icon-20"
              width="20"
              viewbox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 5L15.5 12L8.5 19"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </div> -->
      </div>
    </div>
  </div>
