<% let date = new Date(); %>

<div class="row">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">Los 10 Ultimos Inicios De Session Mas Recientes</h4>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive mt-4">
        <table id="basic-table" class="table table-striped mb-0" role="grid">
          <thead>
            <tr>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>

            <% if(Users.length > 0){ %>

              <% Users.forEach(User =>{ %>

              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <h6><%= User.nombre %> <%= User.apellido %></h6>
                  </div>
                </td>

                <td><%= User.email %></td>

                <% if(User.estado == 'Inactivos'){ %>
                  <td><div class="text-warning"><%= User.estado %></div></td>
                <% } %>

                <% if(User.estado == 'no activada'){ %>
                  <td><div class="text-warning"><%= User.estado %></div></td>
                <% } %>

                <% if(User.estado == 'Activo'){ %>
                  <td><div class="text-success"><%= User.estado %></div></td>
                <% } %>

              </tr>

               <% }); %>

            <% } %>

            <% if(Users.length == 0){ %>
              <p class="text-center">No hay usuarios activos</p>
            <% } %>

          </tbody>
        </table>
      </div>
    </div>
  </div



</div>
<div class="row">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">Solicitudes</h4>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive mt-4">
        <table id="basic-table" class="table table-striped mb-0" role="grid">
          <thead>
            <tr>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Vieja Billetera</th>
              <th>Nueva Billetera</th>
              <th>Tipo Solicitud</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% solicitud_wallet.forEach(Solicitud =>{ %>


              <tr>
                <td><%= Solicitud.nombre_completo %></td>
                <td><%= Solicitud.email %></td>
                <td><%= Solicitud.old_wallet %></td>
                <td><%= Solicitud.new_wallet %></td>

                <td>
                  <span class="badge text-bg-primary">Cambio Billetera</span>
                </td>

                <td class="text-center">

                    <a href="/admin/billetera/aceptar/<%= Solicitud.id_cambio_wallet %>" class="btn btn-primary" type="button">Aceptar</a>
                    <a href="/admin/billetera/rechazar/<%= Solicitud.id_cambio_wallet %>" class="btn btn-danger" type="button">Rechazar</a>


                </td>

              </tr>




             <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">Usuarios</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Correo</th>
                <th>Fecha</th>
                <th>Telefono</th>
                <th>Ver datos</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <% Users.forEach(User => { %>
                <% if(User.estatus_id != 7){ %>
              <tr class="text-center">
                <td><%= User.nombre %> <%= User.apellido %></td>
                <td><%= User.email %></td>
                <td><%= User.fecha_creacion %></td>
                <td><%= User.telefono %></td>

                <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModalDefault"
                  id="<%=User.id%>"
                  onclick="getData(`<%=User.id%>`)"
                >
                  Ver datos
                </button>
              </td>

                <td><a class="btn btn-info" href="/review/admin/<%= User.id %>">Review</a></td>


                <td><button class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#eliminar" id="<%=User.id%>"
                  onclick="deleteUser(`<%=User.id%>`)">Eliminar</button></td>
              </tr>
              <%}  %>
              <% }); %>
            </tbody>
            <tfoot>
              <tr>
                <th>Nombre Completo</th>
                <th>Correo</th>
                <th>Fecha</th>
                <th>Referido por:</th>
                <th>Telefono</th>
                <th>Ver datos</th>
                <th>Eliminar</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Usuarios eliminados -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">Usuarios Eliminados</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Razones de su eliminacion</th>
                <th>Fecha de eliminacion</th>
                <th>Referido por:</th>
                <th>Eliminado por:</th>
                <th>Telefono</th>
                <th>Correo</th>
              </tr>
            </thead>
            <tbody>
              <% UserEliminados.forEach(User => { %>
                <tr class="text-center">
                  <td><%= User.nombre %> <%= User.apellido %></td>
                  <td> <%= User.razones %> </td>
                  <td><%= moment(User.fecha_eliminacion).format('LLL')  %></td>
                  <td>No fue referido por nadie</td>
                  <td> <%= User.correo_eliminado %> </td>
                  <td><%= User.telefono %></td>
                  <td><%= User.email %></td>
                </tr>
                <% }); %>
            </tbody>
            <tfoot>
              <tr>
                <th>Nombre Completo</th>
                <th>Razones de su eliminacion</th>
                <th>Fecha de eliminacion</th>
                <th>Referido por:</th>
                <th>Eliminado por:</th>
                <th>Correo</th>
                <th>Telefono</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Inactivos -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">Usuarios Inactivos</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Registro</th>
                <th>Referido por:</th>
                <th>Telefono</th>
                <th>Correo</th>
              </tr>
            </thead>
            <tbody>
              <% if(UsersInactivos){ %>
                 <% UsersInactivos.forEach(UserInactivo => { %>
              <tr class="text-center">
                <td><%=UserInactivo.nombre%> <%=UserInactivo.apellido%></td>

                <td><%=UserInactivo.fecha_creacion%></td>
                <td><%=UserInactivo.telefono%></td>
                <td><%=UserInactivo.email%></td>
              </tr>

              <% }) %>
              <% }else{ %>
              <p class="text-center">No hay usuarios inactivos</p>
              <% } %>
            </tbody>
            <tfoot>
              <tr>
                <th>Nombre Completo</th>
                <th>Fecha de Registro</th>
                <th>Referido por:</th>
                <th>Telefono</th>
                <th>Correo</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="eliminar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Eliminar Usuario
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="deleteForm">
        <form action="" method="POST"></form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>



<div
  class="modal fade"
  id="exampleModalDefault"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Informacion del usuario
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="PUT" id="userInformation"></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

  function esJSONValido(elemento) {
  try {
    JSON.stringify(elemento);
    return true;
  } catch (error) {
    return false;
  }
}

  // Get data
  function getData(id) {

    console.log("Esta entrandoa la funcion")

    const userInformation = document.getElementById("userInformation");
    let elementsModal;
    const API = `/admin/userData/${id}`;


    axios.get(API)
  .then(function (response) {
    // handle success
    let data = response.data;

    var text_img = "";


    if(esJSONValido(data.url_documento)){

      try {
        JSON.parse(data.url_documento).forEach(img => {
          text_img+=`<img src="${img}" style='width:100%'>"`
       })
      } catch (e) {

      }


    }



    elementsModal = `
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nombre Completo:</label>
        <input type="text" disabled value="${data.nombre} ${data.apellido}" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Numero telefonico:</label>
        <input type="text" disabled value="${data.telefono}" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Edad:</label>
        <input type="text" disabled value="${data.edad}" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha de nacimiento:</label>
        <input type="text" disabled value="${data.fecha_nacimiento}" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha de creacion:</label>
        <input type="text" disabled value="${data.fecha_creacion}" class="form-control" id="exampleInputPassword1">
      </div>


      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Documentos de identidad:</label>

        ${text_img}

      </div>
    `;
    // console.log(data[0].url_documento)
    /* ${JSON.parse(data[0].url_documento).forEach(image => {
          `<img src=${} style="width:100%">`
        })} */



    userInformation.innerHTML = elementsModal;


    console.log(response.data);
    })
    .catch(function (error) {
      // handle error
      console.log(error);
    })
    .finally(function () {
      // always executed
    });






    };

// Eliminar user
const deleteUser = (id)=>{
  const container = document.getElementById("deleteForm");
  let element;

  const deleteOneUser = (id) =>{
    element = `<form action="/admin/users/delete-user?id=${id}" method="POST">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Escribe las razones</label>
              <textarea name="razones" placeholder="Razones de eliminacion" class="form-control" cols="30" rows="10"></textarea>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
            <input type="submit" class="btn btn-danger" value="Eliminar">
          </div>
      </form>`;

    container.innerHTML = element;
  }

  deleteOneUser(id);

}

</script>
