<% let date = new Date(); %> 

<div class="row">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">Activos</h4>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive mt-4">
        <table id="basic-table" class="table table-striped mb-0" role="grid">
          <thead>
            <tr>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Darvin Rodriguez</h6>
                </div>
              </td>
            
              <td>email@email.com</td>
              <td><div class="text-success">Activo</div></td>
             
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Adriana Alvarez</h6>
                </div>
              </td>
             
              <td>correo@correo.com</td>
              <td><div class="text-success">Activo</div></td>
              
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Fix Platform Errors</h6>
                </div>
              </td>
             
              <td>Not set</td>
              <td><div class="text-success">Activo</div></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Launch Our Mobile App</h6>
                </div>
              </td>
             
              <td>correo@correo.com</td>
              <td><div class="text-success">Activo</div></td>
             
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Add the New Pricing Page</h6>
                </div>
              </td>
             
              <td>correo@correo.com</td>
              <td><div class="text-success">Activo</div></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Redesign New Online Shop</h6>
                </div>
              </td>
            
              <td>correo@correo.com</td>
              <td><div class="text-success">Activo</div></td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">Registrados</h4>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive mt-4">
        <table id="basic-table" class="table table-striped mb-0" role="grid">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Estado</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Darvin Rodriguez</h6>
                </div>
              </td>
            
              <td>email@email.com</td>
              <td><div class="text-info">Pendiente</div></td>
              <td> <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalDefault"
              >
                Ver datos
              </button></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Adriana Alvarez</h6>
                </div>
              </td>
             
              <td>correo@correo.com</td>
              <td><div class="text-info">Pendiente</div></td>
              <td> <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalDefault"
              >
                Ver datos
              </button></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Fix Platform Errors</h6>
                </div>
              </td>
              <td>Not set</td>
              <td><div class="text-info">Pendiente</div></td>
              <td> <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalDefault"
              >
                Ver datos
              </button></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Launch Our Mobile App</h6>
                </div>
              </td>
             
              <td>$20500</td>
              <td><div class="text-info">Pendiente</div></td>
             <td> <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalDefault"
              >
                Ver datos
              </button></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Add the New Pricing Page</h6>
                </div>
              </td>
             
              <td>$500</td>
              <td><div class="text-danger">Inactivo</div></td>
              <td> <button
                type="button"
                disabled
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalDefault"
              >
                Ver datos
              </button></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <h6>Redesign New Online Shop</h6>
                </div>
              </td>
            
              <td>$2000</td>
              <td><div class="text-danger">Inactivo</div></td>
              <td> <button
                type="button"
                disabled
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalDefault"
              >
                Ver datos
              </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>


<div class="row">
   <div class="col-sm-12">
       <div class="card">
          <div class="card-header d-flex justify-content-between">
             <div class="header-title">
                <h4 class="card-title">Usuarios</h4>
             </div>
          </div>
          <div class="card-body">
          
             <div class="table-responsive">
                <table  class="table table-striped" >
                   <thead>
                      <tr>
                         <th>Nombre Completo</th>
                         <th>Correo</th>
                         <th>Fecha</th>
                         <th>Referido por:</th>
                         <th>Telefono</th>
                      </tr>
                   </thead>
                   <tbody>
                       <% for (let index = 0; index <= 10; index++) { %>
                           <tr class="text-center">
                               <td><%= date.getDate()%>/<%= date.getMonth()%>/<%= date.getFullYear() %> </td>
                               <td>Estandar</td>
                               <td>$500</td>
                               <td>USDT,PESOS,USD</td>
                               <td>Pendiente</td>
                               <td>9c8245e6e0b74cfccg97e8714u3234228fb4xcd2</td>
                               <td>Admin1@gmail.com</td>
                              
                            </tr>
                     <%  } %> 
                    
                   </tbody>
                   <tfoot>
                      <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Fecha</th>
                        <th>Referido por:</th>
                        <th>Telefono</th>
                      </tr>
                   </tfoot>
                </table>
             </div>
          </div>
       </div>
    </div>
</div>
<div class="row">
   <div class="col-sm-12">
       <div class="card">
          <div class="card-header d-flex justify-content-between">
             <div class="header-title">
                <h4 class="card-title">Usuarios Eliminados</h4>
             </div>
          </div>
          <div class="card-body">
          
             <div class="table-responsive">
                <table  class="table table-striped" >
                   <thead>
                      <tr>
                         <th>Nombre Completo</th>
                         <th>Razones de su eliminacion</th>
                         <th>Fecha de eliminacion</th>
                         <th>Referido por:</th>
                         <th>Eliminado por:</th>
                         <th>Telefono</th>
                         <th>Correo</th>
                      </tr>
                   </thead>
                   <tbody>
                       <% for (let index = 0; index <= 10; index++) { %>
                           <tr class="text-center">
                            <td>Darvin Emil Rodriguez Nuñez</td>
                            <td> <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#reset-pass">
                              Ver razones
                          </button></td>
                               <td><%= date.getDate()%>/<%= date.getMonth()%>/<%= date.getFullYear() %> </td>
                               <td>Adriana Alvarez</td>
                               <td>Admin1@gmail.com</td>
                                <td>(809) 000-0000</td>
                               <td>Admin1@gmail.com</td>
                              
                            </tr>
                     <%  } %> 
                    
                   </tbody>
                   <tfoot>
                      <tr>
                        <th>Nombre Completo</th>
                         <th>Razones de su eliminacion</th>
                         <th>Fecha de eliminacion</th>
                         <th>Referido por:</th>
                         <th>Eliminado por:</th>
                         <th>Correo</th>
                         <th>Telefono</th>
                      </tr>
                   </tfoot>
                </table>
             </div>
          </div>
       </div>
    </div>
</div>
<div class="row">
   <div class="col-sm-12">
       <div class="card">
          <div class="card-header d-flex justify-content-between">
             <div class="header-title">
                <h4 class="card-title">Usuarios Inactivos</h4>
             </div>
          </div>
          <div class="card-body">
          
             <div class="table-responsive">
                <table  class="table table-striped" >
                   <thead>
                      <tr>
                         <th>Nombre Completo</th>
                         <th>Fecha de Registro</th>
                         <th>Referido por:</th>
                         <th>Telefono</th>
                         <th>Correo</th>
                      </tr>
                   </thead>
                   <tbody>
                       <% for (let index = 0; index <= 10; index++) { %>
                           <tr class="text-center">
                            <td>Darvin Emil Rodriguez Nuñez</td>
                            
                               <td><%= date.getDate()%>/<%= date.getMonth()%>/<%= date.getFullYear() %> </td>
                               <td>Adriana Alvarez</td>
                                <td>(809) 000-0000</td>
                               <td>Admin1@gmail.com</td>
                              
                            </tr>
                     <%  } %> 
                    
                   </tbody>
                   <tfoot>
                      <tr>
                        <th>Nombre Completo</th>
                        <th>Fecha de Registro</th>
                        <th>Referido por:</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                      </tr>
                   </tfoot>
                </table>
             </div>
          </div>
       </div>
    </div>
</div>